Source: python-snakes
Section: python
Priority: extra
Maintainer: Franck Pommereau <pommereau@univ-paris12.fr> 
Homepage: http://lacl.univ-paris12.fr/pommereau/soft/snakes
Build-Depends: python (>=2.5), cdbs (>=0.4.49), debhelper (>= 5), python-central (>=0.5.6)
XS-Python-Version: >=2.5
Standards-Version: 3.7.2

Package: python-snakes
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: python (>=2.5), python-central, graphviz
Description: SNAKES is the Net Algebra Kit for Editors and Simulators
 SNAKES is a general purpose Petri net Python library allowing to
 define and execute most classes of Petri nets. It features a plugin
 system to allow its extension. In particular, plugins are provided to
 implement the operations usually found in the PBC and M-nets family.
